body{
	width: 1000px;
	background-color: #343537;
	margin: auto;
	margin-top: 50px;
}
.main-content,.div-wrap{
	background: white;
}
.div-wrap{
	border-radius: 10% 10% 0 0;
}




 .header{
 	position: relative;
 }
 button{
	cursor: pointer;
}
 .body-content .body-content-blog .blog-content >img{
 	position: relative;
 	width: 270px;
 	height: 140px;
 }
 .header .head-logo{
 	font-family: georgia;
 	text-transform: uppercase;
 	font-size: 32px;
 	color: white;
 }
 .header .head-logo .title{
 	font-size: 12px;
 	display: block;
 	text-transform: none;
 	color: #858585;
 }
 .header .head-right{
 	font-family: verdana;
 	font-size: 13px;
 	color: #676767;
 	position: absolute;
 	top: 0;
 	right: 0;
 }
 .header .head-right .head-search{
 	position: absolute;
 	right: 0;
 	margin-top: 13px;
 }
 .header .head-right input{
 	background-color: #2b2b2b;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	width: 215px;
 	padding: 5px;
 }
 .header .head-right .head-search input[placeholder]{
 	font-family: georgia;
 	font-size: 12px;
 	color: #999999; 
 }
 .header .head-right button{
 	background-color: #3b7a9d;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	text-transform: uppercase;
 	color: white;
 	font-family: georgia;
 	font-size: 12px;
 	margin-left: 5px;
 }
 .top-nav{
 	margin-top: 40px;
 	width: 100%;
 	background: black;
 	border-top-left-radius: 10px;
 	border-top-right-radius: 10px;
 	height: 65px;
 	text-align: center;
 	align-content: center;
 	line-height: 65px;
 }

 .top-nav a{
 	font-family: georgia;
 	font-size: 13px;
 	padding-left: 28px; 
 	width: 12%;
 	text-decoration: none;
 	color: white;
 	text-transform: uppercase;
 	vertical-align: middle;
 }
 .top-nav a:hover{
 	color: #3b7a9d;
 }



 /*---dropdown-menu*/
.dropdown{
	position : relative;
	display: inline-block;
}

.dropdown-menu{
	padding: 0;
	color: black;
	display: none;
	position: absolute;
	font-size: 32px;
	line-height: 10px;
	margin: 0;
	background-color: #f9f9f9;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
}
.dropdown-menu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
/*dropdown menu end*/




 .top-slider{
 	position: relative;
 	background-color: white;
 	padding: 20px;
 }
 .top-slider .slider-img{
 	width: 910px;
 	position: relative;
 	padding: 10px;
 	border: 1px solid #e5e5e5;
  	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

 .top-slider .slider-img .slider-text{
 	position: absolute;
 	bottom: 30px;
 	left: 50px;
 	background-color: #000000;
 	opacity: 0.7;
 	color: white;
 	width: 500px;
 	padding: 15px;
 	animation: pop-up 1s;
 }
 @keyframes pop-up{
 	from{bottom:10px; opacity: 0.4}
 	to{bottom:30px; opacity: 0.7;}
 }

 .top-slider img{
 	margin: auto;
 	display: block;
 	background: #333333;
 	display: block;
 	width: 900px;
 	height: 336px;
 }
 .body-content{
 	height: 400px;
 	position: relative;
 	width: 100%;
 	background: white;
 }
 .body-content .body-content-blog{
 	font-size: 22px;
 	color: #666666;
 	position: relative;
 	display: inline-block;
 	width: 30%;
 	margin: auto 15px;
 	vertical-align: top;
 }
 .body-content .body-content-blog p,.footer .footer-content p{
 	font-size:13px;
 	color: #999999;
 }
 .body-content .body-content-blog .blog-quoter{
 	font-size: 16px;
 }
 .body-content .body-content-blog .blog-quoter .blog-post{
 	font-weight: bold;
 }
 .body-content .body-content-blog button{
 	position: absolute;
 	right: 5px;
 	background-color: #3b7a9d;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	text-transform: capitalize;
 	color: white;
 	font-family: georgia;
 	font-size: 12px;
 	margin-left: 5px;
 	display: block;

 }
 .body-content .body-content-blog .body-content-blog-quote{
 	margin-top: 30px;
 }
 .footer{
 	align-content: top;
 	background-color: white;
 	margin-bottom: 20px;
 }
 .footer .footer-content{
 	display: inline-block;
 	width: 20%;
 	margin: auto 15px;
 	vertical-align: top;
 	font-size: 12px;
 }
 .footer .footer-content-title{
 	color: #666666;
 	display: block;
 	margin-bottom: 20px;
 	font-size: 16px;
 }
 .footer .footer-content .blog-title{
 	font-size: 13px;
 	font-weight: bold;
 	color:#3b7a9d;
 	display: block;
 }
 .footer .footer-content button{
 	background-color: #3b7a9d;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	text-transform: capitalize;
 	color: white;
 	font-family: georgia;
 	font-size: 12px;
 	margin-left: 5px;
 	display: block;
 	margin-top: 10px;
 }

 .footer .footer-content input[type="text"],.footer .footer-content input[type="email"]{
 	margin-bottom: 5px;
 	background-color: #dbdbdb;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	width: 215px;
 	padding: 5px;
 }
 .footer .footer-content input[type="submit"]{
 	cursor: pointer;
 	background-color: #3b7a9d;
 	border: none;
 	height: 31px;
 	border-radius: 5px;
 	text-transform: uppercase;
 	color: white;
 	font-family: georgia;
 	font-size: 12px;
 	margin-left: 5px;
 }

 .footer .footer-content a{
 	text-decoration: none;
 	color: #3b7a9d;
 	display: block;
 }
 .copyright{
 	padding: 20px;
 	background-color: #dbdbdb;
 	color: #999999;
 	font-size: 12px;
 }
 .temp-credit{
 	float: right;
 }
 hr{
 	color: #e2e2e2;
 }
hr.style { 
	border: 0; 
	height: 2px; 
	background: linear-gradient(to left, white,#f0f0f0, #e2e2e2, #f0f0f0,white);
  }

.slider-dot {
 	border:2px solid white;
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 1px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.slider-dot-cont{
    position: absolute;
    right:80px;
    bottom: 50px;
}

.active-slider-dot, .slider-dot:hover {
	background-color: #333333;
}

/*-------------------------------------------------------------
----------------------GALLERY PAGE----------------------------
-------------------------------------------------------------*/
.img-section{

	padding-top: 10px;
	padding-left: 10px;
}
.img-cont{
	display: inline-block;
	height: 300px;
	width: 298px;
	margin: 10px;
	padding: auto;
	padding-top: 10px; 
	border: 1px solid skyblue;
	text-align: center;
	background: linear-gradient(to bottom, white,#f0f0f0, #e2e2e2, #f0f0f0, lightblue);
	border-radius: 10% 0% 10% 0;
	
	
	
}

.img-section img{
	border-radius: 0 10% 0 10%;
	border: 2px solid grey;
	height: 250px;
	width: 90%;
	cursor: pointer;
}
.img-section img:hover{
	opacity: 0.7;
}

/*IMAGE LARGE DISPLAY*/
.img-large{
	margin: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	background:#343537;
	top: 0;

}
.img-large img{
	padding: 5%;
	height: 70%;
	width: 70%;
}

.img-close{
	position: absolute;
	
	cursor: pointer;
	color: white;
}
.img-close:hover{
	color: black;
}


/*-------------------------------------------------------------
----------------------ABOUT PAGE----------------------------
-------------------------------------------------------------*/
.crew-about{
	width: 90%;
	margin-left:5%;
	overflow: hidden;
}
.crew-img{
	padding-left: 50px;
}
.crew-img .memb{
	margin: 5px 15px;
}
.crew-title{
	text-transform: uppercase;
}
/*-------------------------------------------------------------
----------------------Contact PAGE----------------------------
-------------------------------------------------------------*/
.contact-form{
	width: 49%;
	margin-left: 10px;
	position: relative;
	display: inline-block;
	border-right: 2px solid black;
}
.contact-map{
	width: 49%;	
	float: right;
	display: inline-block;
}
/*-------------------------------------------------------------
----------------------Blog PAGE----------------------------
-------------------------------------------------------------*/

b{
	font-size: 25px;
}

.blog-container{
	margin-left: 15px;
}